.grid-container {
    display: grid;
    grid-gap: 10px;
    margin-left: calc(calc(100vw - 420px)/2);
    grid-template-columns: 120px 290px;
}

.grid-item {
    text-align: left;
    line-height: 30px;
  }


.grid-container-game {
    display: grid;
    grid-gap: 10px;
    margin-left: calc(calc(100vw - 380px)/2);
    grid-template-columns: 120px 120px 120px;
}

.grid-item-game {
    text-align: left;
  }

.fieldButton{
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
}

h1{
    width: 100%;
    text-align: center;
}

.command-buttons{
    margin-top: 10px;
}

.start{
    margin-right: 5px;
    font-size: 2rem;
}

.reset{
    margin-left: 5px;
    font-size: 2rem;
}

.finish-setup{
    font-size: 1.5rem
}

.center{
    width: 100%;
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

label {
    text-align: right;
    width: 100%;
}
